In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Codrington,-38.2667,141.9667,48.33,92,4,4.59,AU,2022-06-17 16:04:23
1,1,Hermanus,-34.4187,19.2345,61.02,57,0,9.08,ZA,2022-06-17 16:04:23
2,2,Chokurdakh,70.6333,147.9167,36.59,74,98,10.69,RU,2022-06-17 16:04:23
3,3,Castro,-24.7911,-50.0119,69.64,62,46,13.67,BR,2022-06-17 16:03:18
4,4,Dikson,73.5069,80.5464,31.23,95,39,13.02,RU,2022-06-17 16:04:24

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Albany,42.6001,-73.9662,82.78,49,3,1.99,US,2022-06-17 16:00:24
10,10,Mitsamiouli,-11.3847,43.2844,78.30,70,44,12.12,KM,2022-06-17 16:04:25
11,11,Butaritari,3.0707,172.7902,82.06,77,12,15.43,KI,2022-06-17 16:04:26
12,12,Eyl,7.9803,49.8164,78.71,81,99,23.31,SO,2022-06-17 16:04:26
13,13,Gunjur,13.2019,-16.7339,79.34,69,86,12.35,GM,2022-06-17 16:04:26
17,17,Los Banos,14.1667,121.1833,84.79,87,39,4.79,PH,2022-06-17 16:01:00
19,19,Victoria,22.2855,114.1577,85.17,84,98,11.01,HK,2022-06-17 16:00:25
25,25,Hare Bay,48.8499,-54.0148,81.19,35,1,7.45,CA,2022-06-17 16:04:29
26,26,Mandalgovi,45.7625,106.2708,75.22,35,74,4.45,MN,2022-06-17 16:04:30
32,32,Vaini,-21.2000,-175.2000,75.36,88,75,10.36,TO,2022-06-17 16:04:31

In [12]:
# Determine if there are any null values for the rows in the preferred_cities_df DataFrame
preferred_cities_df.count()

City_ID       197
City          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
Country       197
Date          197
dtype: int64

In [13]:
# Determine if there are any null values for the rows in the preferred_cities_df DataFrame
preferred_cities_df.notnull().sum()

City_ID       197
City          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
Country       197
Date          197
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
8        Albany      US     82.78  42.6001  -73.9662
10  Mitsamiouli      KM     78.30 -11.3847   43.2844
11   Butaritari      KI     82.06   3.0707  172.7902
12          Eyl      SO     78.71   7.9803   49.8164
13       Gunjur      GM     79.34  13.2019  -16.7339
17    Los Banos      PH     84.79  14.1667  121.1833
19     Victoria      HK     85.17  22.2855  114.1577
25     Hare Bay      CA     81.19  48.8499  -54.0148
26   Mandalgovi      MN     75.22  45.7625  106.2708
32        Vaini      TO     75.36 -21.2000 -175.2000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Albany,US,82.78,42.6001,-73.9662,
10,Mitsamiouli,KM,78.30,-11.3847,43.2844,Foyer ADM
11,Butaritari,KI,82.06,3.0707,172.7902,Isles Sunset Lodge
12,Eyl,SO,78.71,7.9803,49.8164,Amiin Hotel
13,Gunjur,GM,79.34,13.2019,-16.7339,Jallo Kurundingoto Eco Tourist Camp
17,Los Banos,PH,84.79,14.1667,121.1833,Sol Y Viento Mountain Hot Springs and Resort
19,Victoria,HK,85.17,22.2855,114.1577,Mini Central
25,Hare Bay,CA,81.19,48.8499,-54.0148,
26,Mandalgovi,MN,75.22,45.7625,106.2708,В.Ганбат
32,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# adding map markers for hotels
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""